/* Auth.css */

.loginContainer {
  background-color: #000000;
}

.loginCard {
  border: none;
  background-color: #f9ebde;
}

.regCard {
  padding: 40px;
  width: 100%;
}

@media (max-width: 767px) {
  .regCard {
    padding: 15px;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .regCard {
    padding: 10px;
  }

  h2 {
    font-size: 1.25rem;
  }
}

.CRaccount {
  color: green;
}

.linkTag {
  text-decoration: none;
  font-size: 16px;
  margin: auto;
}
.CRaccount:hover {
  text-decoration: underline;
}

form .form-control {
  padding-left: 10px;
}

/* Auth.css */

.is-invalid {
  border-color: #dc3545;
}

.is-invalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.regContainer {
  background-color: #000000;
}

.regCard {
  border: none;
  background-color: #f9ebde;
}

/* Auth.css */

.form-control {
  border: none;
  border-bottom: 2px solid #0c7504; /* Bottom border line effect */
  border-radius: 10; /* Remove border radius for a flat design */
  box-shadow: none; /* Remove shadow for a cleaner look */
  padding-left: 0; /* Align placeholder text to the left */
  padding-right: 0; /* Align placeholder text to the left */
}

.form-control:focus {
  border-bottom: 2px solid #007bff;
  outline: none;
}

::placeholder {
  color: #6c757d;
  opacity: 1;
}

.is-invalid {
  border-bottom: 2px solid #dc3545;
}

/* Error message styling */
.invalid-feedback {
  display: block;
  color: #dc3545; /* Red color for error text */
}
.position-relative {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000000;
  font-size: 1.2rem;
}

/* Auth.css */

/* Register button special effect */
.reg {
  background-color: #ff7300;
  color: #fff;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s, background-color 0.4s;
}

.reg::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, #00ffe5, #00d4ff, #709bca);
  z-index: -1;
  transition: transform 0.4s;
  transform: scale(0);
  border-radius: 50%;
}

.reg:hover::before {
  transform: scale(1);
}

.reg:hover {
  color: #000000;
  background-color: #fff;
  font-weight: 400;
}
